body { 
	margin: 0;
	 }

h1 {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav {
	height: 70px;
	width:100%;
	background-color: #75B3CA;
	padding: 10px;
}

.container {
	margin: 0;
	max-width: 960px;
	width: 100%;
}

.logo {
	float: left;
	width: 85px;
}

.menu {
	display: inline-block;
	float: right;
	width: 300px;
	padding-top: 13px;
}

.menu > li {
	display: inline-block;
	font-size: 20px;
	padding: 10px;
}

.title-wrapper {
		padding-top: 10px;
	}

	/*		@media (min-width: 1000px){
				body {
					max-width: 1600px;
					margin: 0 auto;
				}

				header {
					flex-direction: row;
				}

				}
				header li {
					display: inline-block;
				}

				header h1, header nav {
					flex: 1;
				}
				header h1 {
					text-align: left;
				}

				header nav {
					text-align: right;
				}
				}	
			}*/
